

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>Item is:</h1>

    </p>
    <ul>
        <!-- Name to show in HTML - Method - FROM CONTROLLER -->
        <li>@Html.ActionLink("Rarity", "Details", "Store")</li>
        <li>@Html.ActionLink("Id", "BrowseM", "Store")</li>
        <li>@Html.ActionLink("Price", "BrowseP", "Store")</li>




    </ul>
</body>
</html>
