@model mtg_app.Models.CardsViewModel
<html>
<head>
    <title>Check all these cards</title>

</head>
<body>

    @foreach (var item in Model.Cards)
        {
            <div style="display:inline-block; margin:50px">
                <h2>@item.Name</h2>
                <p>Multiverse number => @item.Multiverse_id</p>
                <p>@item.Rarity</p>
                <img src=@item.Url>
            </div>

            
        }

</body>
</html>
