@model mtg_app.Models.HomeModel

<div class="text-center">
    <h1 class="display-4">Magic the gathering</h1>
    <h2>Start your session by reading the Privacy Policy</h2>
    <h2>Register for the use of the store</h2>
    <h2>Feel free to see our collection without session nor registering</h2>
    

    @if (@Model.ShowContent){
        <h1 style="color: green;">Now that your session has started, register to see the store.</h1>
    }

    <p>Magic-The-Store ----  Eric & David</p>
</div>
