
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h2>Would you like to continue shopping or visit your basket?</h2>
<ul>
        <!-- Name to show in HTML"cesta de la compra" - Method - FROM CONTROLLER -->
        <li>@Html.ActionLink("Basket", "Cart", "Shopping")</li>
        <li>@Html.ActionLink("Shopping", "Index", "Store")</li>
</ul>

</body>

</html>
