@model mtg_app.Models.CartsItemViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>
    <h1>@Model.ColumnTitleProductName</h1>

    @if (@Model == null) {
        <h1>EMPTY CART</h1>
    }
    

 @foreach (var item in Model.Carts)
        {
            <li>@item.Price</li>
            <li>@item.Userid</li>
            //<img src=@item.Url>
            //<li>@item.TotalPrice.ToString()</li>
        }
</body>
</html>
