@model mtg_app.Models.CardsViewModel 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>
    <h1>@Model.PageTitle</h1>
    

 @foreach (var item in Model.Cards)
        {
            <li>@item.Multiverse_id</li>
            <img src="@item.Url">
        }
</body>
</html>
